{% extends "base.html" %}

{% block title %}{{ user.username }} - Scheda Utente{% endblock %}

{% block content %}
{% include "components/_user_profile_header.html" %}

<div class="row">
    <div class="col-md-8">
        {% include "components/_user_general_stats.html" %}
        {% include "components/_user_recent_matches_table.html" %}
        {% include "components/_user_tournament_classifications_table.html" %}
    </div>

    <div class="col-md-4">
        {% include "components/_user_info_card.html" %}
        {% include "components/_user_inscriptions_card.html" %}
    </div>
</div>
{% endblock %}