<!-- Match Header Component -->
<div class="card-header">
    <div class="d-flex justify-content-between align-items-center">
        <h4>
            {{ match.player1.username }} 
            {% if not match.is_bye %}
                vs {{ match.player2.username }}
            {% else %}
                (Bye)
            {% endif %}
        </h4>
        <div>
            <span class="badge {{ match | status_badge_class }}">{{ match | status_text }}</span>
        </div>
    </div>
    <small class="text-muted">
        Prova {{ match.prova.number }} - Turno {{ match.round_number }} - {{ match.prova.discipline }}
        {% if match.prova.best_of %}
            (Al meglio di {{ match.prova.distance }})
        {% else %}
            ({{ match.prova.distance }} rack esatti)
        {% endif %}
    </small>
</div>