<!-- Rack Input Component -->
{% if match.status != 'completed' and (current_user.id in [match.player1_id, match.player2_id] or current_user.is_admin or current_user.is_director) %}
<div class="card bg-light mb-3">
    <div class="card-body">
        <h6>
            {% if current_user.is_admin or current_user.is_director %}
                Aggiungi rack singolo
            {% else %}
                Aggiungi risultato rack
            {% endif %}
        </h6>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-outline-primary w-100" 
                        onclick="addRackWin({{ match.player1_id }})">
                    Punto {{ match.player1.username }}
                </button>
            </div>
            <div class="col-6">
                <button class="btn btn-outline-primary w-100" 
                        onclick="addRackWin({{ match.player2_id }})">
                    Punto {{ match.player2.username }}
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}